{% extends 'equipments/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}


{% block body %}
<!-- Projects -->
<div class="section-full bg-white">

	<!-- About Us -->
	<div class="section-full content-inner bg-white">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12 m-b30">
					<div class="our-story">
						<span>
							<h3>ELECTRONICS AND COMMUNCATION ENGINEERING</h3>
						</span>
						<!-- <h2 class="title">Running a <br />successful business <br /><span class="text-primary">since
								2006</span></h2> -->
						<!-- <h4 class="title">Industrial engineering is a branch of engineering which deals with
							the optimization.</h4> -->
						<p>The Department of Electronics & Communication Engineering, Dr. B. R. Ambedkar National
							Insitute of Technology, Jalandhar has been offering B.Tech programme in Electronics &
							Communication Engineering since 1989, M.Tech programme in Electronics & Communication
							Engineering (Full-Time) since 2006 and M.Tech programme in VLSI Design (Full Time) since
							2008.

							<p>The Department also offers Ph.D. programmes in various specializations, such as Biomedical
								Engineering, VLSI Design, Nanoelectronics and Communication Systems etc.</p>
								<p>The Department has presently 15 faculty members with PhD degrees from reputed Institutes.
									The Department has established state-of-the-art laboratories for B.Tech, M.Tech and Ph.D.
									research work. The Department has advanced Biomedical Signal Processing and Telemedicine
									Laboratory, VLSI Design Laboratory, Nanoelectronics Research Lab and Communication System
									Laboratory with sophisticated research equipment.
								</p>
								<p>The department has an advanced VLSI lab sponsored by Ministry of Communication and IT under
									SMDP-II project. In the VLSI lab Cadance, Mentor graphic, Synopsys, Magma, Coware and Xilinx
									softwares are available for project/research work.</p>
								
							
						</p>
						<!-- <a href="javascript:void(0);" class="site-button">Read More</a> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-12 m-b30 our-story-thum">
					<img src="/static/images/ece1.jpg" class="radius-sm" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="project-carousel owl-btn-center-lr owl-carousel">
		<div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
			<div class="dlab-box portfolio-style1">
				<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
					<a href="services-details.html">
						<img src="{%static 'images/ecebuilding.jpg'%}" alt="">
					</a>
				</div>
				<div class="portfolio-info">
					<!-- <h4 class="title"><a href="services-details.html">Ocean Freight and Shipping</a></h4>
					<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry.
					</p> -->
				</div>
			</div>
		</div>
		<div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
			<div class="dlab-box portfolio-style1">
				<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
					<a href="services-details.html">
						<img src="{%static 'images/lab1.jpg'%}" alt="">
					</a>
				</div>
				<div class="portfolio-info">
					<!-- <h4 class="title"><a href="services-details.html">Ocean Freight and Shipping</a></h4>
					<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry.
					</p> -->
				</div>
			</div>
		</div>
		<div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
			<div class="dlab-box portfolio-style1">
				<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
					<a href="services-details.html">
						<img src="{%static 'images/lab2.jpg'%}" alt="">
					</a>
				</div>
				<div class="portfolio-info">
					<!-- <h4 class="title"><a href="services-details.html">Ocean Freight and Shipping</a></h4>
					<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry.
					</p> -->
				</div>
			</div>
		</div>
		<div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
			<div class="dlab-box portfolio-style1">
				<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
					<a href="services-details.html">
						<img src="{%static 'images/lab3.jpg'%}" alt="">
					</a>
				</div>
				<div class="portfolio-info">
					<!-- <h4 class="title"><a href="services-details.html">Ocean Freight and Shipping</a></h4>
					<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry.
					</p> -->
				</div>
			</div>
		</div>
		<div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
			<div class="dlab-box portfolio-style1">
				<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
					<a href="services-details.html">
						<img src="{%static 'images/lab4.jpg'%}" alt="">
					</a>
				</div>
				<div class="portfolio-info">
					<!-- <h4 class="title"><a href="services-details.html">Ocean Freight and Shipping</a></h4>
					<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry.
					</p> -->
				</div>
			</div>
		</div>
		<div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
			<div class="dlab-box portfolio-style1">
				<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
					<a href="services-details.html">
						<img src="{%static 'images/lab5.jpg'%}" alt="">
					</a>
				</div>
				<div class="portfolio-info">
					<!-- <h4 class="title"><a href="services-details.html">Ocean Freight and Shipping</a></h4>
					<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry.
					</p> -->
				</div>
			</div>
		</div>
		<div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
			<div class="dlab-box portfolio-style1">
				<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
					<a href="services-details.html">
						<img src="{%static 'images/lab6.jpg'%}" alt="">
					</a>
				</div>
				<div class="portfolio-info">
					<!-- <h4 class="title"><a href="services-details.html">Ocean Freight and Shipping</a></h4>
					<p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry.
					</p> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Projects End -->

{% endblock %}